{% load static %}
<html>
    <head>
        <title>APRENDENDO</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body >
       
        <div class="page-header" class="gradiente">
            <a href="{% url 'palestra' %}" id="barra" class="">Palestra</a>
            
             <div class="dropdown">
                <button class="btn dropdown-toggle"  id="barra" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Grupos
                </button>
                <ul class="dropdown-menu" id="mini-menu">
                  <li><a class="dropdown-item mini-m" href="{% url 'equipes' %}">Equipes</a></li>
                  <li><a class="dropdown-item mini-m" href="{% url 'palestra' %}">Atleticas</a></li>
                  
                </ul>
              </div>
            <a href="{% url 'post_new' %}" id="barra" class="">Novo post</a>
            <h1><a href="/">PUConecta</a></h1>
        </div>
        
            
                
                {% block content %}
                {% endblock %}
                
            
        
        
        <div class="espaço"></div>
        <footer>
          <p>&copy; 2023 Seu Nome. Todos os direitos reservados.</p>
        </footer>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>