{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
<div class="primeiro_bloco">
    <div class="carrossa">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" >
            <div class="carousel-inner">
              <div class="carousel-item active" >
                <img src="media/KhyPrs.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="media/KhyPrs.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="media/KhyPrs.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <p class="textinho">Venha conhecer o nosso projeto PUConecta, onde juntamos muitas informações possiveis sobre eventos,grupos, palestra na PUC-RIO </p>
    </div>
    <div class="menuzinho">
        <div class="t_topicos">Alguns topicos importantes</div>
        <div class="topicos"><a href="{% url 'equipes' %}">EQUIPES</a></div>
        <div class="topicos">HOJE</div>
        <div class="topicos"><a href="{% url 'palestra' %}">PALESTRAS</a></div>
        <div class="topicos"><a href="{% url 'atletica' %}">ATLETICAS</a></div>
        <div class="topicos"><a href="{% url 'projeto' %}">O PROJETO</a>
        </div></div>
</div>
<div class="posts-container">
{% for post in posts %}
<div class="post">
    <div class="eventos" >
        <div class="img-body"><img src="media/KhyPrs.png" alt="" width="80%" style="border-radius: 5px;margin-top: 2%;"></div>
        <div class="cardbody">
            <h5 class="card-title"style="text-align: center;"><a href="{% url 'post_detail' pk=post.pk %}" >{{ post.title }}</a></h5>
            <p class="card-text" style="text-align: center;">
            {{ post.text|linebreaksbr }}
            </p>
            <div id="force-cor" class="btn btn-primary" style="width: 40%;"><a href="{% url 'post_detail' pk=post.pk %}">Ir Para o Post</a></div>
            <div class="date" style="text-align: center;">
                {{ post.published_date }}
            </div>
        </div>
        
    </div>
</div>
{% endfor %}
</div>


{% endblock %}