{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
<div class="primeiro_bloco">
    <div class="carrossa">
       <img src="media/KhyPrs.png" alt="">
    </div>
    <div class="menuzinho">
        <div class="t_topicos">Alguns topicos importantes</div>
        <div class="topicos">ponto 1</div>
        <div class="topicos">ponto 2</div>
        <div class="topicos">ponto 3</div>
        <div class="topicos">ponto 4</div>
        <div class="topicos">ponto 5</div>
    </div>
</div>
{% for post in posts %}
<div class="post">
    <div class="date">
        {{ post.published_date }}
    </div>
    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% endfor %}



{% endblock %}